/*----===== AAL BLOCKCHAIN FINANCIALS 2022 ===== -*/

/* ===== Classic logo purple #9600FF ===== */
/* ===== Blue logo #313E60 ===== */
/* ===== Modern logo gold #F6E99C ===== */
/* ===== Dark mode background #18191A ===== */
/* ===== Dark mode text #ced4e2 ===== */
/* ===== Light mode background #E4E9F7 ===== */
/* ===== Light mode background alt #Fbfbd8 ===== */
/* ===== Light mode text #272a2e ===== */

/* ===== Dark mode gradient ===== */
/* =====  background-image: linear-gradient(135deg, #18191A, #272A2E); ===== */

/* ===== Light mode gradient ===== */
/* =====  background-image: linear-gradient(135deg, #CED4E2, #FAFAFA); ===== */

.calc-container{
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    font-family: "Ubuntu", Sans-serif;
    box-sizing: border-box;
    padding: 10px;
}
.calc-container * {
    box-sizing: border-box;
}
.calc-main-row,
.calc-row{
    display: flex;
    width: 100%;
}
.calc-heading{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
}
.section-heading{
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
    text-align: left !important;
}
.calc-form-section{
    width:55%;
    margin-right: 20px;
    padding: 0 15px;
    border-radius: 5px;
    border: .5px solid #ced4e2; /* Left side box border */
}
.calc-form-section-container{
    padding: 20px;
}
.calc-result-section{
    width: 55%;
    border-radius: 5px;
    border: .5px solid #ced4e2; /* Right side box border */
}
.calc-form-group{
    border-bottom: 1px solid #18191A4a;
    padding: 10px 0;
    text-align: left !important;
}
.control-label{
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    align-items: center;
}
.calc-label-group{
    width: 50%;
    font-weight: 600;
    font-size: 15px;
    text-align: left !important;
}
.calc-input-group{
    margin-top: 3px;
    width: 50%;
    text-align: right;
}
.calc-form-group input,
.calc-form-group select{
    width: 100%;
    height: 37px;
    padding: 5px 8px;
    box-sizing: border-box;
    border: .5px solid #18191A4a;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 600;
    color: #313E60;  /* Sets the input box text */
}
.calc-form-group input:focus,
.calc-form-group select:focus{
    outline: 0;
}
.calc-form-group input{
    padding: 3px 8px;
}
.getStarted,
.submit-field{
    text-align: center;
    margin: 10px 0;
}
.shipping-info{
    font-size: 12px;
    text-align: right;
}
.calc-btn{
    font-size: 1.5rem;
    border: 0px;
    padding: 16px 18px;
    color: #9600FF !important;
    font-family: "Ubuntu", serif;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5;
    transition: box-shadow 200ms ease-in-out;
    margin-top: 30px;
    background-color: #F6E99C !important;
    margin: 0!important;
}
.calc-btn:focus{
    outline: 0;
}
.calc-btn:hover{
    background-color: #18191A !important;
    color: #ced4e2;
}
.calc-info{
    font-size: 16px;
    margin: 10px 0;
}
.calc-info a{
    font-size: 17px;
}
.calc-result-section h1,
.calc-result-section h2{
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
}
.va-res-box-container{
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
    flex-direction: column;
}
.va-res-rows{
    padding: 15px 0;
    margin: 0;
    width: 100%;
    border-radius: 5px;
    flex-direction: column;
    margin-bottom: 25px;
}
.va-res-rows label{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    font-size: 14px;
    display: block;
}
.va-res-rows label span{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    font-size: 14px;
}
.va-res{
    display: flex;
    justify-content: center;
}
.va-res span{
    font-size: 30px;
}
.calc-info-res,
.calc-info-res span{
    font-size: 13px;
    text-align: center;
}
.result-label{
    font-size: 18px;
    font-weight: 600;
}
.result-text{
    font-size: 25px;
    font-weight: bold;
}
.breakdown{
    margin: 15px 0;
    border-bottom: .5px solid;
}
.breakdown .calc-row{
    justify-content: space-around;
    margin: 20px;
}
.estimate-info{
    margin-top: 20px;
}
.legend-area{
    text-align: center;
    text-transform: uppercase;
}
.legend-area span{
    font-weight: bold;
    font-size: 20px;
}
.res-cl-box{
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 5px;
}
.calc-summary h3{
    text-align: center;
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
}
.calc-summary .calc-row{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
    padding-bottom: 18px;
    border-bottom: 1px solid #18191A4a;
}
.calc-summary .calc-row:first-child{
    border-bottom: none;
}
.calc-disclaimer{
    font-size: 15px;
    margin-top: 30px;
    text-align: center;
    /* font-weight: 600; */
}
.hide-elem{
    display: none !important;
}
/* input append/prepend group styles */
.append-input-group,
.prepend-input-group{
    display: flex;
}
.append-input-group input{
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
}
.prepend-input-group input{
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0!important;
}
.append-input-group span,
.prepend-input-group span{
    background-color: #F6E99C;
    color: #18191A;
    font-weight: 600;
    border: .5px solid #18191A4a; 
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
    padding: 0 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    height: 37px;
    margin-bottom: 0 !important;
}
.append-input-group span{
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.prepend-input-group span{
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
/* ///////////////////// */
.rhw-tooltip {
    position: relative;
    display: inline;  
  }
  .rhw-tooltip-icon{
    font-family: "Ubuntu", Sans-serif;
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    font-weight: normal;
    font-size: 14px !important;
    margin-left: 3px;
    padding-right: 0.5px;
    margin-left: 3px;
    background: #18191A4a;
    color: #ced4e2;
    border: 1px solid #F6E99C;
    /* content:'i' */
  }
  .rhw-tooltip .rhw-tooltiptext {
    visibility: hidden;
    display: none;
    width: auto;
    min-width: 200px;
    background-color: #18191A4a;
    box-shadow: 0 0 3px #F6E99C;
    color: #ced4e2;
    font-weight: normal;
    text-align: center;
    border-radius: 2px;
    padding: 8px;
    position: absolute;
    /* z-index: 5; */
    transition: 0.5s;
    font-size: 13px !important;
    left: 0;
    right: 0;
    margin: auto;
    /* width: fit-content;  */
    /* To adjust the height as well */ 
    height: fit-content;
    /* width: intrinsic; */
  }
  .rhw-tooltip-icon:hover+.rhw-tooltiptext {
    visibility: visible;
    display: block;
  }
[data-tooltip] {
    position: relative;
    /* z-index: 1; */
  }
  /* Positioning and visibility settings of the tooltip */
  [data-tooltip]:before,
  [data-tooltip]:after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 50%;
    bottom: calc(100% + 5px); /* 5px is the size of the arrow */
    pointer-events: none;
    transition: 0.2s;
    z-index: 10000;
    /* will-change: transform; */
  }
  /* The actual tooltip with a dynamic width */
  [data-tooltip]:before {
    content: attr(data-tooltip);
    padding: 10px 18px;
    min-width: 50px;
    max-width: 350px;
    width: max-content;
    width: -moz-max-content;
    border-radius: 6px;
    font-size: 14px;
    background-color: #18191A;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
    color: #ced4e2;
    text-align: center;
    white-space: pre-wrap;
    transform: translate(-50%, -5px) scale(0.5);
  }
  /* Tooltip arrow */
  [data-tooltip]:after {
    content: '';
    border-style: solid;
    border-width: 5px 5px 0px 5px; /* CSS triangle */
    border-color: rgba(55, 64, 70, 0.9) transparent transparent transparent;
    transition-duration: 0s; /* If the mouse leaves the element, 
                                the transition effects for the 
                                tooltip arrow are "turned off" */
    transform-origin: top;   /* Orientation setting for the
                                slide-down effect */
    transform: translateX(-50%) scaleY(0);
  }
  /* Tooltip becomes visible at hover */
  [data-tooltip]:hover:before,
  [data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
  }
  /* Scales from 0.5 to 1 -> grow effect */
  [data-tooltip]:hover:before {
    transition-delay: 0.3s;
    transform: translate(-50%, -5px) scale(1);
  }
  /* 
    Arrow slide down effect only on mouseenter (NOT on mouseleave)
  */
  [data-tooltip]:hover:after {
    transition-delay: 0.5s; /* Starting after the grow effect */
    transition-duration: 0.2s;
    transform: translateX(-50%) scaleY(1);
  }
  /* Tooltip */
  [data-tooltip-location="left"]:before {
    transform: translate(-5px, 50%) scale(0.5);
  }
  [data-tooltip-location="left"]:hover:before {
    transform: translate(-5px, 50%) scale(1);
  }
  /* Arrow */
  [data-tooltip-location="left"]:after {
    border-width: 5px 0px 5px 5px;
    border-color: transparent transparent transparent rgba(55, 64, 70, 0.9);
    transform-origin: left;
    transform: translateY(50%) scaleX(0);
  }
  [data-tooltip-location="left"]:hover:after {
    transform: translateY(50%) scaleX(1);
  }
  /* BOTTOM */
  [data-tooltip-location="bottom"]:before,
  [data-tooltip-location="bottom"]:after {
    top: calc(100% + 5px);
    bottom: auto;
  }
  [data-tooltip-location="bottom"]:before {
    transform: translate(-50%, 5px) scale(0.5);
  }
  [data-tooltip-location="bottom"]:hover:before {
    transform: translate(-50%, 5px) scale(1);
  }
  
  [data-tooltip-location="bottom"]:after {
    border-width: 0px 5px 5px 5px;
    border-color: transparent transparent rgba(55, 64, 70, 0.9) transparent;
    transform-origin: bottom;
  }
  /* Thumbnail settings */
  @media (max-width: 750px) {
    [data-tooltip]:after {
      bottom: calc(100% + 3px);
    }
    [data-tooltip]:after {
      border-width: 7px 7px 0px 7px;
    }
  }
  /* ////////////////////////// */
@media screen and (max-width: 992px){
    .calc-container{
        width: 100%;
        padding: 0;
    }
    .calc-result-section h1{
        font-size: 22px;
    }
}
@media screen and (max-width: 992px){
    .calc-container{
        width: 100%;
        padding: 10px 0;
    }
    .calc-main-row{
        flex-direction: column;
    }
    .calc-form-section{
        width: 100%;
    }
    .calc-result-section {
        width: 100%;
        margin: 20px 0 10px 0px;
        padding: 0;
    }
    .calc-result-section h1{
        font-size: 20px;
    }
}
@media screen and (max-width: 600px){
    .calc-container{
        width: 100%;
        padding: 10px 0;
    }
    .calc-main-row{
        flex-direction: column;
    }
    .calc-result-section h1{
        font-size: 20px;
    }
    .calc-form-section-container{
        padding: 15px;
    }
    .calc-form-section{
        width: 100%;
        margin-right: 0px;
        padding: 0;
    }
    .calc-result-section{
        width: 100%;
        padding: 0px;
    }
    .result-text {
        font-size: 30px;
    }
    .control-label {
        flex-direction: column;
    }
    .calc-label-group{
        margin-bottom: 5px;
    }
    .calc-label-group,
    .calc-input-group{
        width: 100%;
    }
    .calc-btn{
        padding: 10px;
    }
}
