/*----===== AAL BLOCKCHAIN FINANCIALS 2022 ===== -*/

/* ===== Classic logo purple #9600FF ===== */
/* ===== Blue logo #313E60 ===== */
/* ===== Modern logo gold #F6E99C ===== */
/* ===== Dark mode background #18191A ===== */
/* ===== Dark mode text #ced4e2 ===== */
/* ===== Light mode background #E4E9F7 ===== */
/* ===== Light mode background alt #Fbfbd8 ===== */
/* ===== Light mode text #272a2e ===== */

/* ===== Dark mode gradient ===== */
/* =====  background-image: linear-gradient(135deg, #18191A, #272A2E); ===== */

/* ===== Light mode gradient ===== */
/* =====  background-image: linear-gradient(135deg, #CED4E2, #FAFAFA); ===== */

/* ===== Import Google Font ===== */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*, 
*:after,
*:before {
  box-sizing: border-box;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { 
  display: inline-table; 
}
* html .clearfix { 
  height: 1%; 
}
.clearfix { 
  display: block; 
}
.wrapper {
  font-family: 'Ubuntu', sans-serif;
  display: block;
  width: 100%;
  margin: 10px auto;
}
.wrapper2 {
  font-family: 'Ubuntu', sans-serif;
  display: block;
  width: 100%;
  margin: 10px auto;
}
tr:hover {
  background-color: #313E60; /* upcoming events hover highlight */
  color: #E4E9F7; /* upcoming events hover text highlight */
}
div#calendar {
  display: block;
  width: 100%;
  height: 300px;
}
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  height: 300px;
  text-align: center;
}
thead tr.head_cal {
  background: #313E60; /* month banner color */
  color: #E4E9F7; /* month banner text */
  font-size: 20px;
  line-height: 60px;
  text-transform: uppercase;
}
tr.subhead_cal {
  background: #313E60f1; /* year banner color */
  color: #E4E9F7; /*year banner text */
  font-size: 18px;
  line-height: 28px;
}
tr.week_cal {
  background: #313E60f1;
  color: #E4E9F7; 
  font-size: 15px;
  line-height: 27px;
}
tbody.days_cal tr td a {
  padding: 5px 7px;
  text-decoration: none;
  color: #E4E9F7; 
  line-height: 30px;
}
tbody.days_cal tr td {
  padding: 0;
  margin: 0;
  background: #313e60f1; /* day of the month color */
  border: 1px solid #E4E9F7; /* day of the month outline color */
  text-align: center;
}
.event {
  border-bottom: 1px solid #F6E99C; /* day with even underline color */
  transition: all 0.3s ease;
}
.today_cal.event {
  background: #F6E99C; /* day with even highlight color */
  color: #18191A; /* day with even underline text*/
  transition: all 0.3s ease;
}
.event:hover{
  background: #272a2e; /* hover highlight background color */
  color: #ced4e2; /* hover highlight text */
  transition: all 0.3s ease;
}
.week_event {
  color: #F6E99C; /*todays date highlight color */
}
#calendar_data {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  display: inline-block;
  width: 80%;
  height: 300px;
  font-size: 20px;
  font-weight: 400;
  text-align: right;
}
#calendar_data h3 {
  text-align: center;
  font-size: 22px;
  padding: 5px 10px;
  margin: 0;
  text-transform: capitalize;
  font-weight: bold;
}
#calendar_data dl {
  padding: 0;
  margin-left: -1.5em;
}
#calendar_data dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: left;
  font-weight: bold;
}
#calendar_data dd {
  margin: 0 0 0 110px;
  padding: 0 0 0.5em 0;
}
#calendar_data a {
  color: #9600FF; /* more info URL item link */
  text-decoration: underline;
  text-transform: uppercase;
}
h2 {
  text-align: center;
  background-color: #F6E99C;
  color: #18191A;
}
