/* ++++++++==============================  2024 RENTCONNECT LANDINGPAGE STYLESHEET  ==============================++++++++ ===+++ Lucas Katz/Heidi Katz/Aaron Katz +++==== */


*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.container {
  height: 60px;
  background-color: #3685fd; /*Header background*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  font-family: 'Ubuntu', sans-serif;
}
.container .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
}
.container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 10px;
}
.container .header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
/* --== Rent Connect Name in Header ==--*/
#navname {
  float: center;
  color: white;
  text-align: center;
  font-size: 30px;
  padding-right: 15px;
  
}
.container .logo {
  max-width: 250px;
  text-align: center;
  align-items: center;
  padding: 0 10px;
  overflow: hidden;
}
/* --== Sign up/login Button in Header ==--*/
.button1 {
  background-color: white;
  padding: 10px 15px;
  margin-right: 100px;
  
  float: right;
  border-radius: 10px;
  border: solid;
  border-color: #3685fd;
  color: #3685fd;
  text-decoration: none;
  font-weight: 500;
 }
 .button1 a {
text-decoration: none;
 }
.button1:hover {
background-color: #9bbdf1;
color: white;
cursor: pointer;
 }
.button1:visited {
  background-color: #3685fd;
  padding: 10px 10px;
  margin-right: 100px;
  text-align: center;
  float: right;
  border-radius: 20px;
  border: none;
  color: #ffffff;
  text-decoration: none;
}
/*--============================== LANDING PAGE HEADER FORMATING ==============================--*/
.container .header ul li a {
  text-decoration: none;
  color: #E3EFFA; /*Header link text*/
  font-size: 16px;
  text-transform: uppercase;
  height: auto;
  line-height: normal;
  cursor: pointer;
  padding: 10px;
  margin-top: 5%;
  text-align: center;
}
.container .header ul li a:hover {
  color: #3685fd; /*Header text*/
  border-radius: 10px;
  justify-content: space-between;
  background-color: #ffffff; /*Header highlight*/
}
.container .header ul .close {
  display: none;
  text-align: right;
  padding: 10px;
}
.container .header ul .close span {
  font-size: 40px;
  display: inline-block;
  /*border: 1px solid #E3EFFA;*/
  padding: 0 10px;
  cursor: pointer;
}
.container .header .icon-bar {
  padding: 18px 8px;
  width: 50px;
  height: 60px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}
.container .header .icon-bar i {
  background-color: #ffffff; /* header small screen menu color */
  height: 2px;
}
@media only screen and (max-width: 700px) {
  .container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
  .container .header {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
}
  .container .header ul {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: fixed;
    left: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #272A2E; /*small screen header background*/
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left .3s;
    -o-transition: left .3s;
    transition: left .3s;
}
  .container .header ul li a {
    padding: 10px;
    font-size: 28px;
    height: auto;
    line-height: normal;
    color: #E3EFFA; /*small screen header link text color*/
}
  .container .header ul .close {
    display: block;
}
  .container .header .icon-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
  .container .header ._Menus-show {
    left: 0;
}
}
/* ============================== TOP BANNER BACKGROUNDFORMATING ============================== */
.top-banner {
  background-color: #81b1f8;
  height: 500px;
}
#h1 {
  color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold; 
  font-size: 50px;
  text-align: left;
}

/* ============================== TOP BANNER COLUMNS ============================== */

.column {
  width:50%;
  padding-top: 70px;
  float: left;
}
.left {
  padding-top: 100px;;
  padding-left: 150px;
}

.right{
 padding-top: 70px;
 padding-right: 50px;
}

.row:after {
  content:"";
  display: table;
  clear: both;

 }
  /* ==-- Call to action button --== */
.calltoaction {
  padding: 15px 40px;
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  background-color: #5e17eb;
  text-decoration: none;
  font-weight: 400;
  }
.calltoaction a {
    text-decoration: none;
     }
.calltoaction:hover {
   background-color: #ffffff;
   color: #5e17eb;
   font-weight: 600;
   cursor: pointer;
     }
.calltoaction:visited {
      background-color: #3685fd;
      padding: 10px 10px;
      margin-right: 100px;
      text-align: center;
      float: right;
      border-radius: 20px;
      border: none;
      color: #ffffff;
      text-decoration: none;
     }

/* ============================== MAIN CONTENT (How it works)============================== */
.maincontent{
  justify-content: center;
  max-width: 100%;
  display: flex;
  align-items: center;
}
#h2 {
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold; 
  font-size: 50px;
  text-align: center;
  padding-block: 30px;
}
/* ====-- PROFILE CARD FORMATING --==== */
*{
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}
::selection{
  background: #8e44ad;
  color: #fff;
}
.profilecontainer{
  margin: auto;
  max-width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-block: 30px 30px;
}
.profilecontainer .box{
  width: calc(33% - 10px);
  background: #3685fd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  border-radius: 5px;
}
.box .quote i{
margin-top: 10px;
font-size: 45px;
color: #17c0eb
}
.profilecontainer .box .image{
  margin: 10px 0;
  width: calc(33% - 10px);
  background: #ffffff;
  padding: 3px;
  border-radius: 50%;
}
.box .image img{
 
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #fff;
}
.box p{
  color: #ffffff;
  text-align: justify;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
}
.box .name_job{
  margin: 10px 0 3px 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}
.rating i{
  font-size: 18px;
  color: #8e44ad;
  margin-bottom: 5px;
}
.btns{
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.btns button{
  background: #ffffff;
  width: 100%;
  padding: 9px 0px;
  outline: none;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  transition: all 0.3s linear;
}
.btns button:first-child{
  background: none;
  margin-right: 5px;
}
.btns button:last-child{
  color: #3685fd;
  margin-left: 5px;
}
.btns button:first-child:hover{
  background: #ffffff;
  color: #3685fd;
}
.btns button:hover{
  background: #3685fd ;
  color: #ffffff;
}
@media (max-width:1045px){
  .container .box{
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}
@media (max-width:710px){
  .container .box{
    width: 100%;
  }
}

/* ============================== Footer Info Panel  ============================== */
.footercontainer {
  position: static;
  bottom: 0;
  width: 100%;
}
.footer-distributed {
  background-color: #18191a; /* ===== Footer Background ===== */
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
  padding: 45px 50px;
}
.footer-distributed .footer-left p {
  color: #E3EFFA; /* ===== Footer Text color ===== */
  font-size: 14px;
  margin: 0;
}
/* ----===== Footer Links  =====---- */
.footer-distributed p.footer-links {
  font-size: 18px;
  color: #E3EFFA; /* ===== Footer Text color ===== */
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}
.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}
.footer-distributed .footer-links a:before {
  content: "|"; /* ===== Footer link seperators ===== */
  font-size: 18px;
  left: 0;
  color: #E3EFFA; /* ===== Footer Text color ===== */
  display: inline-block;
  padding-right: 10px;
}
.footer-distributed .footer-links .link-1:before {
  content: none;
}
.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}
.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #afdfa5; /* ===== Footer social media logo background ===== */
  border-radius: 2px;
  font-size: 20px;
  color: #18191a; /* ===== Footer social media logo color  ===== */
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}
.footer-distributed .footer-right a:hover {
  transform:scale(1.1); 
  -webkit-transform:scale(1.1);
}
.footer-distributed p.footer-links a:hover {
  text-decoration:underline;
}
/* ===== Footer Social Media Icons  ===== */
@media (max-width: 600px) {
.footer-distributed .footer-left, .footer-distributed .footer-right {
  text-align: center;
}
.footer-distributed .footer-right {
  float: none;
  margin: 0 auto 20px;
}
.footer-distributed .footer-left p.footer-links {
  line-height: 1.8;
}
}

/* ============================= Basic Popup Textboxes  ============================== */
.tooltip {
  position: relative;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* ===== Basic Form styles  ===== */
.form-row {
  font-size: larger;
  padding:0.35vmin;
  box-shadow:0 0 .1em rgba(0,0,0,.25);
  box-sizing:border-box;
}

/* ===== TEST TEST TEST  ===== */
.basic-grid {
  display:grid;
  gap: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
/* ===== TEST TEST TEST  ===== */