/*
TEST FONT
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*/

:root{
  --accent-color: #3685fd;
  --base-color: #fff9f9;
  --text-color: #2E2B41;
  --input-color: #F3F0FF;
}
*{
  margin: 0px;
  padding: 0px;
}

.wrapper{
  box-sizing: border-box;
  background-color: var(--base-color);
  height: auto;
  width: max(50%, 400px);
  margin: auto;
  margin-top: 5%;
  padding: 5%;
  border-radius: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.90;
  background-size: cover;
  overflow: hidden;
}

.h1style{
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

form{
  width: min(500px, 40%);
  margin-top: 10px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

form > div{
  width: 100%;
  display: flex;
  justify-content: center;
}

form label{
  flex-shrink: 0;
  height: 50px;
  width: 50px;
  background-color: var(--accent-color);
  fill: var(--base-color);
  color: var(--base-color);
  /*border-radius: 10px 0 0 10px;*/
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
}

form input{
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 0;
  height: 50px;
  padding: 0;
  font: inherit;
  border-radius: 0 10px 10px 0;
  border: 2px solid var(--input-color);
  border-left: none;
  background-color: var(--input-color);
  transition: 150ms ease;
}

form input:hover{
  border-color: var(--accent-color);
}

form input:focus{
  outline: none;
  border-color: var(--text-color);
}

div:has(input:focus) > label{
  background-color: var(--text-color);
}

form input::placeholder{
  color: var(--text-color);
}

form button{
  margin-top: 10px;
  border: none;
  border-radius: 1000px;
  padding: .85em 4em;
  background-color: var(--accent-color);
  color: var(--base-color);
  font: inherit;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: 150ms ease;
}

form button:hover{
  background-color: var(--text-color);
}

form button:focus{
  outline: none;
  background-color: var(--text-color);
}

a{
  text-decoration: none;
  color: var(--accent-color);
}

a:hover{
  text-decoration: underline;
}

@media(max-width: 1100px){
  .wrapper{
    width: min(600px, 100%);
  }
}

form div.incorrect label{
  background-color: #f06272;
}

form div.incorrect input{
  border-color: #f06272;
}

#error-message{
  color:#f06272;
}

.inter-500 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.disabled {
  background-color: #aaaaaa;
  opacity: 0.6;
  cursor: not-allowed;
}