
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: MuliRegular, sans-serif;
}


/* ==========---------- SIDE BAR NAVIGATION ----------========== */
.app {
    display:block;
    min-height: 100vh;
}


 .navbar {
    flex: 0 0 0;
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;
    background-color: #5e7ce2;
    color: #ffffff;
    padding: 1rem 1.5rem;
 
 }


.navbar .menu {
    margin: 0 -1rem;
}

.navbar .menu .menu-item {
    display: inline;
    padding: 1em;
    color: #ffffff;
    text-decoration: none;
    transition: 0.2s linear;
  
 }

 .navbar .menu .menu-item:hover,
 .navbar .menu .menu-item.is-active {
    color:#5e7ce2;
    background-color: #f5f7fd;
 }

 .content {
    background-color: #f5f7fd;
    flex: 1 1 0;
    padding: 2rem;
    height: 100vh;
    
 }

 .content h1 {
    color: #5e7ce2;
    font-size: 5rem;
    margin-top: 5rem;
    margin-left: 10rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;

 }

 .content p {
    color:#505b77;
    font-size: 1.2rem;
    margin-top: 1em;
    margin-left: 10rem;

 }

 .menu-toggle {
    display: none;
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 60px;
    height: 60px;
    border-radius: 99px;
    background-color: #5e7ce2;
    cursor: pointer;
 }

 .hamburger {
    position: relative;
    top: calc(50% - 2px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
 }

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
    display: block;
    position:absolute;
    width: 100%;
    height: 4px;
    border-radius: 99px;
    background-color: #f5f7fd;
    transition-duration: .25s;
}

.hamburger > span::before {
    content: '';
    top: -8px;
}

.hamburger > span::after {
    content: '';
    top: 8px;
}

.menu-toggle.is-active .hamburger > span {
    transform: rotate(45deg);
}

.menu-toggle.is-active .hamburger > span::before {
    top: 0;
    transform: rotate(0deg);
}

.menu-toggle.is-active .hamburger > span::after {
    top: 0;
    transform: rotate(90deg);
}

/* ==========---------- SIDE BAR RESPONSIVE - MOBILE ----------========== */
 @media (max-width: 1024px){
    .navbar {
        max-width: 100%;
    }
 }

 @media (max-width: 768px) {
    .menu-toggle{
        display:block;
    }

    .navbar .menu .menu-item {
        display: block;
    }

    .content { /* ==========---------- MAIN CONTENT RESPONSIVE - MOBILE ----------==========*/
        padding-top: 8rem;
    }
    .navbar {
        position:fixed;
        top: 0;
        left: -250px;
        height: 100vh;
        width: 100%;
        max-width: 250px;
        transition: 0.2s linear;
    }

    .navbar.is-active {
        left: 0;
    }

    .content h1 {
        color: #5e7ce2;
        font-size: 5rem;
        margin-top: 5rem;
        margin-left: 0rem;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 700;
    
     }
    
     .content p {
        color:#505b77;
        font-size: 1.2rem;
        margin-top: 1em;
        margin-left: 0rem;
    
     }
 }


 /* ==========---------- MAIN CONTENT CARDS ----------========== */
 .cards {
    display: flex;
    flex-direction: column;
    margin: 3rem;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right:auto;
    width: 90%;
    min-height: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid rgba(114, 141, 230, .4);
    box-shadow: 3px 3px 15px rgba(55, 43, 96, .2);
 }

 #h1 {
    color: #505b77;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    margin: 2rem;
 }

 @media (max-width: 1024px){
    .cards{
        max-width: 250px;
    }
 }

 @media (max-width: 768px) {
     .cards {
     max-width: 250px;

     }
 }


