
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.container {
  height: 60px;
  background-color: #3685fd; /*Header background*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  font-family: 'Ubuntu', sans-serif;
}
.container .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
}
.container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 10px;
}
.container .header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
/* --== Rent Connect Name in Header ==--*/
#navname {
  float: center;
  color: white;
  text-align: center;
  font-size: 30px;
  padding-right: 15px;
  
}
.container .logo {
  max-width: 250px;
  text-align: center;
  align-items: center;
  padding: 0 10px;
  overflow: hidden;
}
/* --== Sign up/login Button in Header ==--*/
.button1 {
  background-color: white;
  padding: 10px 15px;
  margin-right: 100px;
  
  float: right;
  border-radius: 10px;
  border: solid;
  border-color: #3685fd;
  color: #3685fd;
  text-decoration: none;
  font-weight: 500;
 }
 .button1 a {
text-decoration: none;
 }
.button1:hover {
background-color: #9bbdf1;
color: white;
cursor: pointer;
 }
.button1:visited {
  background-color: #3685fd;
  padding: 10px 10px;
  margin-right: 100px;
  text-align: center;
  float: right;
  border-radius: 20px;
  border: none;
  color: #ffffff;
  text-decoration: none;
}
/*--============================== LANDING PAGE HEADER FORMATING ==============================--*/
.container .header ul li a {
  text-decoration: none;
  color: #E3EFFA; /*Header link text*/
  font-size: 16px;
  text-transform: uppercase;
  height: auto;
  line-height: normal;
  cursor: pointer;
  padding: 10px;
  margin-top: 5%;
  text-align: center;
}
.container .header ul li a:hover {
  color: #3685fd; /*Header text*/
  border-radius: 10px;
  justify-content: space-between;
  background-color: #ffffff; /*Header highlight*/
}
.container .header ul .close {
  display: none;
  text-align: right;
  padding: 10px;
}
.container .header ul .close span {
  font-size: 40px;
  display: inline-block;
  /*border: 1px solid #E3EFFA;*/
  padding: 0 10px;
  cursor: pointer;
}
.container .header .icon-bar {
  padding: 18px 8px;
  width: 50px;
  height: 60px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}
.container .header .icon-bar i {
  background-color: #ffffff; /* header small screen menu color */
  height: 2px;
}
@media only screen and (max-width: 700px) {
  .container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
  .container .header {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
}
  .container .header ul {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: fixed;
    left: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #272A2E; /*small screen header background*/
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left .3s;
    -o-transition: left .3s;
    transition: left .3s;
}
  .container .header ul li a {
    padding: 10px;
    font-size: 28px;
    height: auto;
    line-height: normal;
    color: #E3EFFA; /*small screen header link text color*/
}
  .container .header ul .close {
    display: block;
}
  .container .header .icon-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
  .container .header ._Menus-show {
    left: 0;
}
}

/* --- TOP BANNER --- */

.topcontainer { /*creates empty space */
  width: 100%;
  min-height: 20px;
  max-height: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}


.float-container {
  width: 100%;
}

.float-child.sidebar {
  width:15%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  float: left;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding-top: 10px;
  background-color: #5e7ce2;
  color: #fff;
  border-radius: 10px 0px 0px 10px;
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  border-left: 4px solid #ffffff;
}

.float-child.content {
  width: 85%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  float: left;
  justify-content: left;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f7fd;
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
}


.sidebar h1 {
  padding-top: 20px;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: MuliRegular, sans-serif;
}

.content h1 {
  color: #5e7ce2;
  padding-lefT: 10px;
  font-family: MuliRegular, sans-serif;
  font-size: 30px;
}

.content h2 {
  color: #5e7ce2;
  padding-lefT: 10px;
  font-family: MuliRegular, sans-serif;
  font-size: 15px;
}

.content p {
  text-align: center;
  color: #5e7ce2;
  padding: 20px;
  font-family: MuliRegular, sans-serif;
  font-size: 15px;
}

.content li { 
  display: inline;
  font-family: MuliRegular, sans-serif;;
  color: #5e7ce2;
  padding: 8px 16px;
  text-decoration: none;
}

.content a {
  display: inline;
  text-decoration: none;
  
}
.content li a:hover{
  background-color: #f5f7fd;
  color: #5e7ce2;
  text-decoration: underline;
  text-decoration-color: #3685fd;
  text-decoration-thickness: 2px;
}

.content .active {
  background-color: #f5f7fd;
  color: #5e7ce2;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: #3685fd;
  text-decoration-thickness: 2px;
 
 
}

.userimg {
  width: 30%;
  height: 30%;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 50px;
} 

/* -- user nav bar --*/

.sidebar ul {
  list-style-type: none;
  font-family: MuliRegular, sans-serif;;
  margin: 0;
  padding-top: 10px;
  width: 100%;
  background-color: #5e7ce2;
}

.sidebar li a { 
  display: block;
 font-family: MuliRegular, sans-serif;;
  color: #ffffff;
  padding: 8px 16px;
  text-decoration: none;
}

.sidebar li a:hover{
  background-color: #f5f7fd;
  color: #5e7ce2;
  border-radius: 10px 0px 0px 10px;
}

.sidebar .active {
  background-color: #f5f7fd;
  color: #5e7ce2;
  text-decoration: none;
  border-radius: 10px 0px 0px 10px;
}

/* Dashboard card */

.card {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right:auto;
  background-color: #ffffff;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
}

/* Add some padding inside the card container */
.card-container {
  justify-content: center;
  text-align: center;
  padding: 2px 16px;
  margin-left: auto;
  margin-right: auto;
}

.cardtext {
  color: #5e7ce2;
  text-align: center;
  font-family: MuliRegular, sans-serif;
  font-size: 12px;
}

/* PLUS SIGN */
.plus {
  
  --b: 4px; /* the thickness */
  width: 40px; /* the size */
  aspect-ratio: 1;
  border: 10px solid #5e7ce2; /* the outer space */
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#5e7ce2 90deg,#fff 0) 
    calc(100% + var(--b)/2) calc(100% + var(--b)/2)/
    calc(50%  + var(--b))   calc(50%  + var(--b));
  display: flex;
  justify-content: left;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right:auto;
}

.radius {
  border-radius: 50%;
}



/* ============================== Footer Info Panel  ============================== */
.footercontainer {
  position:fixed;
  bottom: 0;
  width: 100%;
}
.footer-distributed {
  background-color: #3685fd; /* ===== Footer Background ===== */
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
  padding: 45px 50px;
}
.footer-distributed .footer-left p {
  color: #E3EFFA; /* ===== Footer Text color ===== */
  font-size: 14px;
  margin: 0;
}
/* ----===== Footer Links  =====---- */
.footer-distributed p.footer-links {
  font-size: 18px;
  color: #E3EFFA; /* ===== Footer Text color ===== */
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}
.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}
.footer-distributed .footer-links a:before {
  content: "|"; /* ===== Footer link seperators ===== */
  font-size: 18px;
  left: 0;
  color: #E3EFFA; /* ===== Footer Text color ===== */
  display: inline-block;
  padding-right: 10px;
}
.footer-distributed .footer-links .link-1:before {
  content: none;
}
.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
 
}
.footer-distributed .footer-right a {
  display: inline-block;
  font-size: 20px;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
  justify-content: space-between;
}
.footer-distributed .footer-right a:hover {
  transform:scale(1.1); 
  -webkit-transform:scale(1.1);
}
.footer-distributed p.footer-links a:hover {
  text-decoration:underline;
}
/* ===== Footer Social Media Icons  ===== */
@media (max-width: 600px) {
.footer-distributed .footer-left, .footer-distributed .footer-right {
  text-align: center;
}
.footer-distributed .footer-right {
  float: none;
  margin: 0 auto 20px;
 
}
.footer-distributed .footer-left p.footer-links {
  line-height: 1.8;}
}