
body {
    background-color: #f5f7fd;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: MuliRegular, sans-serif;
}


/* ==========---------- SIDE BAR NAVIGATION ----------========== */
.app {
    display: flex;
    min-height: 100vh;
}

 .sidebar {
    flex: 1 1 0;
    max-width: 300px;
    padding: 2rem 1rem;
    background-color: #5e7ce2;
 }

 .sidebar h3 {
    color: #ffffff;
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-bottom: 0.5em;
 }

 .sidebar .menu {
    margin: 0 -1rem;
 }

 .sidebar .menu .menu-item {
    display: block;
    padding: 1em;
    color: #ffffff;
    text-decoration: none;
    transition: 0.2s linear;
 }

 .sidebar .menu .menu-item:hover,
 .sidebar .menu .menu-item.is-active {
    color:#5e7ce2;
    background-color: #f5f7fd;
    border-radius: 10px 0px 0px 10px;
 }

 .content {
    background-color: #f5f7fd;
    flex: 1 1 0;
    padding: 2rem;
    
 }

 .plus {
    --b: 4px; 
    width: 70px; 
    aspect-ratio: 1;
    border: 10px solid #5e7ce2; 
    background: #5e7ce2;
    display: flex;
    justify-content: left;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right:auto;
    margin-top: 2%;
    margin-bottom: 2%;
   
  }

.radius {
    border-radius: 50%;
  }

.content a, a:visited {
 color:#505b77;
 text-decoration: none;
 text-transform: uppercase;
 font-size: 1.1rem;


}

.content a:hover {
 color:#5e7ce2;
}

.menu-toggle {
  display: none;
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 60px;
  height: 60px;
  border-radius: 99px;
  background-color: #5e7ce2;
  cursor: pointer;
}

.hamburger {
  position: relative;
  top: calc(50% - 2px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  position:absolute;
  width: 100%;
  height: 4px;
  border-radius: 99px;
  background-color: #f5f7fd;
  transition-duration: .25s;
}

.hamburger > span::before {
  content: '';
  top: -8px;
}

.hamburger > span::after {
  content: '';
  top: 8px;
}

.menu-toggle.is-active .hamburger > span {
  transform: rotate(45deg);
}

.menu-toggle.is-active .hamburger > span::before {
  top: 0;
  transform: rotate(0deg);
}

.menu-toggle.is-active .hamburger > span::after {
  top: 0;
  transform: rotate(90deg);
}

/* ==========---------- SIDE BAR RESPONSIVE - MOBILE ----------========== */
@media (max-width: 1024px){
  .sidebar {
      max-width: 200px;
  }
}

@media (max-width: 768px) {
  .menu-toggle{
      display: block;
  }
  .content { /* ===========----------MAIN CONTENT RESPONSIVE - MOBILE ----------===========*/
      padding-top: 8rem;
  }
  .sidebar {
      position:fixed;
      top: 0;
      left: -300px;
      height: 100vh;
      width: 100%;
      max-width: 300px;
      transition: 0.2s linear;

  }
  .sidebar.is-active {
      left: 0;
  }
}

.content h1 {
    color: #505b77;
    font-size: 2.5rem;
    margin-bottom: 1rem;

 }

 .content p {
    color:#505b77;
    font-size: 1rem;
 }

 .plus  h3 {
   text-align: center;
   color: #ffffff;
   margin: 0 auto;
   font-weight: 500;
   font-size: 2rem;
 }

 
.header-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-container h1 {
    margin: 0;
    font-size: 24px;
    color: #505b77;
}
.edit-btn {
    background-color: #5e7ce2;
    color: #f5f7fd;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border: solid 2px #5e7ce2;
}
.edit-btn:hover {
    background-color: #FFFFFF;
    color: #505b77;
    border: solid 2px #5e7ce2;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 20px;
}

.container {
    background-color: #f5f7fd;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 8px;
    border: 4px solid #5e7ce2;
}

.property-title h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #5e7ce2;
}
.property-title h2 {
    font-size: 22px;
    color: #505b77;
}

.image-gallery {
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 20px;
}
.scroll-container {
    display: flex;
    gap: 10px;
}
.property-image {
    max-height: 30vh;
    object-fit: cover;
    border-radius: 8px;
    flex-shrink: 0;
    margin-bottom: 10px;
}
.property-info {
    padding: 20px 0;
    border-top: 1px solid #5e7ce2;
}
.property-info h2 {
    margin-top: 0;
    font-size: 24px;
    color: #5e7ce2;
}
.amenities {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.amenities h3 {
    color:#5e7ce2;
    font-size: 1.4rem;
}

.amenities ul {
    list-style-type: none;
    padding: 0;
    color: #505b77;
    font-size: 20px;
}
.description-section {
    margin-top: 20px;
    border-top: 1px solid #5e7ce2;
    padding-top: 20px;
}

.description-section h3 {
    color: #5e7ce2;

}
.description-box {
    width: 100%;
    font-size: 16px;
    color: #505b77;
    background-color: #f5f7fd;
    font-family: MuliRegular, sans-serif;
}
.property-summary {
    margin-top: 20px;
    border-top: 1px solid #5e7ce2;
    padding-top: 20px;
    color: #5e7ce2 ;
}
.summary-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    color: #505b77;
}
.share-section {
    margin-top: 40px;
    text-align: center;
}

@media (max-width: 768px) {

  
    .image-gallery {
        overflow-x: auto;
    }

    .scroll-container {
        display: flex;
        flex-direction: row;
    }
    
    .property-image {
        width: 50%;
        margin: auto;
    }
    .summary-grid {
        grid-template-columns: 1fr;
    }
    .amenities {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1024px) {

  
    .image-gallery {
        overflow-x: auto;
    }

    .scroll-container {
        display: flex;
        flex-direction: row;
    }
    
    .property-image {
        width: 50%;
        margin: auto;
    }
    .summary-grid {
        grid-template-columns: 1fr;
    }
    .amenities {
        flex-direction: column;
        align-items: center;
    }
}
